<app-generic-list [list]="movies">
    <ng-container content>
        <div class="movies-container">
            <div *ngFor="let movie of movies; let index= index" class="movie-container">
                <a>
                    <img [src]="movie.poster" alt="poster" [routerLink]="'/movie/' + movie.id" style="cursor: pointer;">
                </a>
                <p>
                    <a>{{movie.title}}</a>
                </p>
                <div>
                    <app-authorize-view [role]="'admin'">
                        <ng-container authorized>
                            <a mat-flat-button color="primary" [routerLink]="'/movies/edit/' + movie.id">
                                Edit
                            </a>
                            <button mat-flat-button color="warn" type="button" [swal]="{title: 'Confirmation', text: 'Are you sure you want to delete this movie?', 
                                showCancelButton: true}"
                                (confirm)="remove(movie.id)">
                                Delete
                            </button>
                        </ng-container>
                    </app-authorize-view>    
                </div>
            </div>
        </div>
    </ng-container>
</app-generic-list> 