mat-toolbar{
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    z-index: 1000;
    -webkit-box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.75);
box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.75);
}

mat-toolbar a:hover{
    background-color: white;
    color: rgb(63, 81, 181)
}


app-authorize-view{
    display: flex;
}

.space{
    flex: 1 1 auto;
}

.userMsg{
    font-size: 16px;
    text-decoration: none;
    pointer-events: none;
}

a{
    font-size: 16px;
}

.home{
    text-decoration: none;
}

.home:hover{
    background-color: rgb(63, 81, 181)
}

mat-toolbar .home:hover{
    background-color: rgb(63, 81, 181)
}

@media (max-width: 480px){
    app-authorize-view{
        display: block;
    }
}

